<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!-- Add path to storage dir (local or server) -->
        <Property name="basePath">logs/admin</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="springFile" fileName="${basePath}myHouse.log"
                     filePattern="${basePath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="springFile"/>
        </Root>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="springFile"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="springFile"/>
        </Logger>
        <Logger name="serviceLogger" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="springFile"/>
        </Logger>
    </Loggers>
</Configuration>