<!DOCTYPE html>
<<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout}"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{menu-item-services}"></title>
</head>
<body>
<div layout:fragment="content">
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{home}" th:text="#{menu-item-home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{menu-item-services}"></li>
        </ol>
    </nav>
    <h4 class="mt-5 pb-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;"
        th:text="#{services-page-services}"></h4>
    <div id="services">

    </div>
    <div class="d-flex justify-content-end mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/service/service.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const errorMessage =[[#{toastr-error-message}]];
</script>
</html>