<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{house-new-title}"></title>
    <style>
        .image-wrapper {
            display: grid;
            column-gap: 1rem;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-areas:
                    "first second third"
                    "first four five";
        }

        .image-wrapper img {
            height: 100%;
            object-fit: cover;
        }

    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{house-new-title}" id="house-title"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/houses}" th:text="#{menu-item-houses}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{breadcrumb-edit}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="form-wrapper">
            <form id="houseForm" enctype="multipart/form-data">
                <div class="row g-3">
                    <div class="inputs-left col-md-4">
                        <input type="number" class="visually-hidden" name="id" id="id">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="name" class="form-label"
                                       th:text="#{house-name-label}"></label>
                                <input class="form-control" type="text" id="name" name="name"
                                       th:placeholder="#{house-name-label}">
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label"
                                       th:text="#{house-address-label}"></label>
                                <input class="form-control" type="text" id="address" name="address"
                                       th:placeholder="#{house-address-label}">
                            </div>
                            <div class="mb-2">
                                <label for="fileImage1" class="form-label" th:text="#{house-image-1}"></label>
                                <input class="form-control form-control-sm" type="file" id="fileImage1"
                                       name="images[0]" accept=".jpg, .jpeg, .png" data-show="#image1">
                            </div>
                            <div class="mb-2">
                                <label for="fileImage2" class="form-label" th:text="#{house-image-2}"></label>
                                <input class="form-control form-control-sm" type="file" id="fileImage2"
                                       name="images[1]" accept=".jpg, .jpeg, .png" data-show="#image2">
                            </div>
                            <div class="mb-2">
                                <label for="fileImage3" class="form-label" th:text="#{house-image-3}"></label>
                                <input class="form-control form-control-sm" type="file" id="fileImage3"
                                       name="images[2]" accept=".jpg, .jpeg, .png" data-show="#image3">
                            </div>
                            <div class="mb-2">
                                <label for="fileImage4" class="form-label" th:text="#{house-image-4}"></label>
                                <input class="form-control form-control-sm" type="file" id="fileImage4"
                                       name="images[3]" accept=".jpg, .jpeg, .png" data-show="#image4">
                            </div>
                            <div class="mb-2">
                                <label for="fileImage5" class="form-label" th:text="#{house-image-5}"></label>
                                <input class="form-control form-control-sm" type="file" id="fileImage5"
                                       name="images[4]" accept=".jpg, .jpeg, .png" data-show="#image5">
                            </div>
                        </div>
                    </div>
                    <div class="right-images col-md-8">
                        <div class="image-wrapper">
                            <figure style=" grid-area: first">
                                <img class="img-thumbnail rounded " th:src="@{/assets/img/placeholder/placeholder.jpg}"
                                     id="image1">
                            </figure>
                            <figure style="grid-area: second">
                                <img class="img-thumbnail rounded " th:src="@{/assets/img/placeholder/placeholder.jpg}"
                                     id="image2">
                            </figure>
                            <figure style="grid-area: third">
                                <img class="img-thumbnail rounded " th:src="@{/assets/img/placeholder/placeholder.jpg}"
                                     id="image3">
                            </figure>
                            <figure style="grid-area: four">
                                <img class="img-thumbnail rounded " th:src="@{/assets/img/placeholder/placeholder.jpg}"
                                     id="image4">
                            </figure>
                            <figure style="grid-area: five">
                                <img class="img-thumbnail rounded " th:src="@{/assets/img/placeholder/placeholder.jpg}"
                                     id="image5">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="nav-tabs-shadow nav-align-top col-md-8">
                        <ul class="nav nav-tabs mx-3" role="tablist">
                            <li class="nav-item ">
                                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                        data-bs-target="#navs-sections" aria-controls="navs-sections"
                                        aria-selected="true">
                                    <i class="tf-icons ti ti-door ti-xs me-1"></i>
                                    [[#{house-sections-label}]]
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                        data-bs-target="#navs-floors" aria-controls="navs-floors"
                                        aria-selected="false">
                                    <i class="tf-icons ti ti-stairs ti-xs me-1"></i>
                                    [[#{house-floors-label}]]
                                </button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                                        data-bs-target="#navs-staff" aria-controls="navs-staff"
                                        aria-selected="false">
                                    <i class="tf-icons ti ti-users ti-xs me-1"></i>
                                    [[#{house-staff-label}]]
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="navs-sections" role="tabpanel">
                                <div class="section-list">
                                    <div class="row g-4 section-item" id="section-0">
                                        <div class="mb-3 col-md-8">
                                            <label class="form-label" for="sections[0].name"
                                                   th:text="#{house-section-name-label}"></label>
                                            <div class="input-group">
                                                <input class="form-control" type="text"
                                                       name="sections[0].name" id="sections[0].name"
                                                       th:placeholder="#{house-section-name-label}">
                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="sections[0].rangeApartmentNumbers"
                                                   th:text="#{house-section-house-range-label}"></label>
                                            <div class="input-group">
                                                <input class="form-control range-number" type="text"
                                                       name="sections[0].rangeApartmentNumbers"
                                                       id="sections[0].rangeApartmentNumbers"
                                                       placeholder="001-101">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" id="add-section"
                                            th:text="#{general-button-add}"></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="navs-floors" role="tabpanel">
                                <div class="floor-list">
                                    <div class="row g-4 floor-item" id="floor-0">
                                        <div class="mb-3">
                                            <label class="form-label" for="floors[0].name"
                                                   th:text="#{house-floor-name-label}"></label>
                                            <div class="input-group">
                                                <input class="form-control" type="text"
                                                       name="floors[0].name" id="floors[0].name"
                                                       th:placeholder="#{house-floor-name-label}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" id="add-floor"
                                            th:text="#{general-button-add}"></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="navs-staff" role="tabpanel">
                                <div class="staff-list">
                                    <div class="row g-4 staff-item" id="staff-0">
                                        <div class="mb-3 d-flex gap-3">
                                            <div class="col-7">
                                                <label class="form-label" for="staffIds[0]"
                                                       th:text="#{house-staff-name-label}"></label>
                                                <select class="form-control " name="staffIds[0]"
                                                        id="staffIds[0]">
                                                    <option value="0" th:text="#{house-staff-choose-staff}"></option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <label class="form-label" for="staffs[0].role"
                                                       th:text="#{house-staff-role-label}"></label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text"
                                                           name="staffs[0].role" id="staffs[0].role" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary" id="add-staff"
                                            th:text="#{general-button-add}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-3">
                    <button type="button" class="btn btn-outline-secondary cancel-button"
                            th:text="#{general-button-cancel}"></button>
                    <button type="button" class="btn btn-primary save-button"
                            th:text="#{general-button-save}"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/houses/edit-house.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const successSaveMessage = /*[[#{service-message-success-save}]]*/ 'default';
    const errorSaveMessage = /*[[#{service-message-error-save}]]*/ 'default';

    const houseSectionLabel = /*[[#{house-section-name-label}]]*/ 'houseSectionLabel';
    const houseSectionHouseRangeLabel = /*[[#{house-section-house-range-label}]]*/ 'houseSectionHouseRangeLabel';
    const houseFloorLabel = /*[[#{house-floor-name-label}]]*/ 'houseFloorLabel';
    const houseStaffNameLabel = /*[[#{house-staff-name-label}]]*/ 'houseStaffNameLabel';
    const houseStaffRoleLabel = /*[[#{house-staff-role-label}]]*/ 'houseStaffRoleLabel';
    const houseStaffChooseStaff = /*[[#{house-staff-choose-staff}]]*/ 'houseStaffRoleLabel';
    const placeholderImage = /*[[@{/assets/img/placeholder/placeholder.jpg}]]*/ 'placeholderImage';
    const uploadsPath = /*[[@{/uploads/}]]*/ 'placeholderImage';

    const roleDirector = /*[[#{staff-role-director}]]*/ 'default';
    const roleManager = /*[[#{staff-role-manager}]]*/ 'default';
    const roleAccountant = /*[[#{staff-role-accountant}]]*/ 'default';
    const roleElectrician = /*[[#{staff-role-electrician}]]*/ 'default';
    const rolePlumber = /*[[#{staff-role-plumber}]]*/ 'default';
</script>

</html>