<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Каса</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row mb-3">
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-none bg-transparent border border-secondary mb-3">
                <div class="card-body py-3">
                    <h4 class="card-title mb-1">345347 грн</h4>
                    <h6 class="card-text">Стан каси</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-none bg-transparent border border-secondary mb-3">
                <div class="card-body py-3">
                    <h4 class="card-title mb-1">5345567 грн</h4>
                    <h6 class="card-text">Баланс по рахунках</h6>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="card shadow-none bg-transparent border border-secondary mb-3">
                <div class="card-body py-3">
                    <h4 class="card-title mb-1">345347 грн</h4>
                    <h6 class="card-text">Заборгованість по рахунках</h6>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="btn-group">
                <button
                        type="button"
                        class="btn btn-success dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    Оберіть дію
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">Створити дохід</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Створити витрати</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Завантажити в Exel</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="table-responsive text-nowrap">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-nowrap">
                <th class="px-5">№</th>
                <th class="px-5">Дата</th>
                <th class="px-5">Статус</th>
                <th>Тип платежу</th>
                <th class="px-5">Власник</th>
                <th>Особистий рахунок</th>
                <th>Дохід/витрати</th>
                <th>Сума</th>
                <th></th>
            </tr>
            <tr>
                <th class="px-2">
                    <input class="form-control me-2" type="search" id="numSearch"
                           aria-label="Search" maxlength="20">
                </th>
                <th class="px-2">
                    <input id="birthDate" class="form-control" type="text"
                           autocomplete="off">
                </th>
                <th class="px-2">
                    <select class="form-select">
                        <option>Дохід</option>
                    </select>
                </th>
                <th class="px-2">
                    <select class="form-select">
                        <option>Дохід</option>
                    </select>
                </th>
                <th class="px-2">
                    <select class="form-select">
                        <option>Дохід</option>
                    </select>
                </th>
                <th class="px-2">
                    <input class="form-control me-2" type="search" id="searchInput"
                           aria-label="Search" maxlength="20">
                </th>
                <th class="px-2">
                    <select class="form-select">
                        <option>Дохід</option>
                    </select>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="myTable">

            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <div class="col-4 mt-4" id="paginationElements"></div>
        <ul class="pagination mt-4 col-7 justify-content-end"></ul>
    </div>
</div>
</body>
<script layout:fragment="script">
    $(".clickable-row").on("click", function() {
        window.location.href = $(this).data("href");
    });

    $(document).ready(function() {
        $('#selectCategory').wrap('<div class="position-relative"></div>').select2({
            language: "uk",
            dropdownParent: $('#selectCategory').parent(),
            placeholder: "Оберіть категорію",
            maximumInputLength: 100
        });
    });
</script>
</html>