<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{menu-item-tariffs}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-tariffs}"></h3>
        <h6>
            <span class="text-muted fw-light" th:text="#{menu-item-system-settings} + ' / '"></span>
            <span th:text="#{menu-item-tariffs}"></span>
        </h6>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-header d-flex justify-content-end">
        <a th:href="@{tariffs/add}" class="btn btn-primary me-2">
            <span class="tf-icons ti-xs ti ti-plus me-1"></span>
            <span th:text="#{tariffs-button-add}"></span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-primary text-center">
                <tr>
                    <th th:text="#{tariffs-title-name}"></th>
                    <th th:text="#{tariffs-title-description}"></th>
                    <th th:text="#{tariffs-title-edit-date}"></th>
                    <th th:text="#{general-table-action}"></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>

    <!-- Modal -->
    <div class="modal fade" id="modalToDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tariff-modal-delete-title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h6 th:text="#{tariff-modal-delete-body}"></h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary close-modal" data-bs-dismiss="modal" th:text="#{general-button-close}"></button>
                    <button type="button" class="btn btn-danger submit-delete" th:text="#{general-button-delete}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/system/tariffs/tariffs.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const buttonEdit = /*[[#{general-button-edit}]]*/ 'default';
    const buttonCopy = /*[[#{general-button-copy}]]*/ 'default';
    const buttonDelete = /*[[#{general-button-delete}]]*/ 'default';

    const successMessageOnDelete = /*[[#{staff-message-success-delete}]]*/ 'default';
    const errorMessageOnDelete = /*[[#{staff-message-error-delete}]]*/ 'default';

    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];

</script>
</html>