<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-invoices}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{invoices-new}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{breadcrumb-home}"></span>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/invoices}" th:text="#{menu-item-invoices}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{invoices-new}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <form enctype="multipart/form-data" id="form" class="row g-3">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-text">№</span>
                    <input type="text" class="form-control" id="number" disabled name="number"/>
                </div>
            </div>
            <div class="col-md-1 d-flex justify-content-center align-items-center">від</div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="creationDate" name="creationDate" disabled>
                    <span class="input-group-text"><i class="ti ti-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="house" class="form-label" th:text="#{apartment-label-house}">Будинок</label>
                <select class="form-select" id="house" name="house"></select>
            </div>
            <div class="col-md-6">
                <label for="status" class="form-label" th:text="#{staff-label-status}">Статус</label>
                <select class="form-select" id="status" name="status"></select>
            </div>
            <div class="col-md-6">
                <label for="section" class="form-label" th:text="#{apartment-label-section}">Секція</label>
                <select class="form-select" id="section" name="section" disabled></select>
            </div>
            <div class="col-md-6">
                <label for="paid" class="form-label" th:text="#{invoices-sum-paid}">Сума сплати</label>
                <input type="number" class="form-control" id="paid" name="paid"
                       th:placeholder="#{invoices-sum-paid}" disabled>
            </div>
            <div class="col-md-6">
                <label for="apartmentId" class="form-label" th:text="#{apartments-label-apartment}">Квартира</label>
                <select class="form-select" id="apartmentId" name="apartmentId" disabled></select>
            </div>
            <div class="col-md-6">
                <label for="tariff" class="form-label" th:text="#{apartment-label-tariff}">Тариф</label>
                <select class="form-select" id="tariff" name="tariff" disabled></select>
            </div>
            <div class="col-md-6">
                <label for="personalAccount" class="form-label" th:text="#{personal-accounts-label-account}">Особовий
                    рахунок</label>
                <input type="text" class="form-control" id="personalAccount" name="personalAccount" disabled>
            </div>
            <div class="col-md-6">
                <input class="form-check-input" type="checkbox" id="processed">
                <label class="form-check-label ms-1" for="processed" th:text="#{invoice-processed}">
                    Проведена
                </label>
            </div>
            <div class="col-md-6">
                <p>
                    <span th:text="#{apartments-label-apartment-owner}+': '"></span><span id="owner"></span>
                </p>
                <p>
                    <span th:text="#{staff-label-phone-number}+': '"></span><span id="phone-number"></span>
                </p>
            </div>
        </form>
            <div id="service-div">
                <div class="table-responsive" id="dropdownParent">
                    <table class="table table-bordered table-hover" name="itemRequests">
                        <thead>
                        <tr class="table-primary text-center">
                            <td></td>
                            <th th:text="#{services-page-service}"></th>
                            <th th:text="#{invoices-amount-of-consumption}"></th>
                            <th th:text="#{tariff-item-unit-of-measurement-label}"></th>
                            <th th:text="#{invoices-price-per-unit}"></th>
                            <th th:text="#{invoices-cost}"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="service-table">
                        <tr>
                            <td colspan="7" class="text-center" th:text="#{invoices-no-data}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ms-0 mt-3 row">
                    <button type="button" class="btn btn-label-primary col-auto" id="add-service"
                            th:text="#{invoices-add-service}">
                        Додати послугу
                    </button>
                    <button type="button" class="btn btn-label-primary col-auto ms-3" id="set-amount"
                            th:text="#{invoices-set-amount}">
                        Встановити кількість споживання
                    </button>
                    <button type="button" class="btn btn-label-primary col-auto ms-3" id="set-for-tariffs"
                            th:text="#{invoices-set-for-tariffs}">
                        Встановити сервіси відповідно до тарифу
                    </button>
                </div>
                <div class="mt-5 d-flex justify-content-end gap-3">
                    <button type="button" class="btn btn-secondary" id="cancel-button"
                            th:text="#{general-button-cancel}">Відмінити
                    </button>
                    <button type="button" class="btn btn-primary" id="save-button" th:text="#{general-button-save}">
                        Зберегти
                    </button>
                </div>
            </div>
    </div>
</div>
<div layout:fragment="additionalContent">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body" id="dropdownParent1">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="table-primary text-center">
                            <th>№</th>
                            <th th:text="#{staff-label-status}"></th>
                            <th th:text="#{meter-readings-date}"></th>
                            <th th:text="#{meter-readings-month}"></th>
                            <th th:text="#{apartment-label-house}"></th>
                            <th th:text="#{apartment-label-section}"></th>
                            <th class="text-nowrap" th:text="#{meter-readings-apartment-number}"></th>
                            <th th:text="#{service-label}"></th>
                            <th th:text="#{meter-readings-current-readings}"></th>
                            <th th:text="#{tariff-item-unit-of-measurement-label}"></th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="reading-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between"></div>
        </div>
    </div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/invoices/add-invoice.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const chooseHouse = [[#{apartment-choose-house}]];
    const chooseSection = [[#{apartment-choose-section}]];
    const chooseTariff = [[#{apartment-choose-tariff}]];
    const chooseApartment = [[#{personal-accounts-choose-apartment}]];
    const chooseStatus = [[#{meter-readings-choose-status}]];
    const paidStatus = [[#{invoices-status-paid}]];
    const unpaidStatus = [[#{invoices-status-unpaid}]];
    const partlyPaidStatus = [[#{invoices-status-partly-paid}]];
    const dataNotFound = [[#{invoices-no-data}]];
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const dateLocale = [[#{meter-readings-date-locale}]];
    const newStatus = [[#{meter-readings-status-new}]];
    const includedStatus = [[#{meter-readings-status-included}]];
    const includedPaidStatus = [[#{meter-readings-status-included-paid}]]
    const zeroStatus = [[#{meter-readings-status-zero}]];
    const total = [[#{invoices-total}]];
    const deleteModalText = [[#{invoices-modal-delete-body}]];
    const modalDeleteButton = [[#{general-button-delete}]];
    const modalCloseButton = [[#{general-button-close}]];
    const successMessage = [[#{role-success-message}]];
    const chooseService = [[#{meter-readings-choose-service}]];
    const noData = [[#{invoices-no-data}]];
</script>
</html>