<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{menu-item-invoices}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-invoices}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{menu-item-invoices}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="personal-account-statistic row col-md-10 gy-4">
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card card-border-shadow-primary">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-primary">
                                        <i class="ti ti-building-bank ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="cash-register-balance"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-current-cash-register}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card card-border-shadow-warning">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-success">
                                        <i class="ti ti-report-money ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="accounts-balance"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-accounts-balance}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card card-border-shadow-danger">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-danger">
                                        <i class="ti ti-coin ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="accounts-balance-arrears"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-accounts-balance-arrears}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 d-flex justify-content-end align-items-start">
                <div class="btn-group" id="hover-dropdown-demo">
                    <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light"
                            data-bs-toggle="dropdown" data-trigger="hover" aria-expanded="false"
                            th:text="#{general-button-choose-action}">
                    </button>
                    <ul class="dropdown-menu" style="">
                        <li><a th:href="@{invoices/add}" class="dropdown-item">
                            <span th:text="#{invoices-add-invoice}"></span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)" id="delete-invoices">
                                <span th:text="#{general-button-delete}"></span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)" id="export-to-excel">
                                <span th:text="#{general-button-export-to-excel}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end"
             style="border-style: solid; border-width: thin; border-color: #dbdade #dbdade white #dbdade">
            <button type="button" class="btn btn-outline-secondary clear-filters m-1"
                    th:text="#{general-button-clear-table}">Clear
            </button>
        </div>
        <div class="table-responsive" id="dropdownParent">
            <table class="table table-bordered table-hover">
                <thead id="myTHead">
                <tr class="table-primary text-center">
                    <th><input class="form-check-input" type="checkbox" value="" id="mainCheck"></th>
                    <th th:text="#{personal-accounts-label-account-number}"></th>
                    <th th:text="#{personal-accounts-label-status}"></th>
                    <th th:text="#{meter-readings-date}"></th>
                    <th th:text="#{meter-readings-month}"></th>
                    <th th:text="#{personal-accounts-label-apartment}"></th>
                    <th th:text="#{personal-accounts-label-apartment-owner}"></th>
                    <th th:text="#{invoice-processed}"></th>
                    <th th:text="#{invoices-paid}"></th>
                    <th th:text="#{cash-register-label-amount}"></th>
                    <th th:text="#{general-table-action}"></th>
                </tr>
                <tr>
                    <td></td>
                    <td style="min-width: 9rem"><input type="text" id="filter-by-number" class="form-control"></td>
                    <td style="min-width: 13rem">
                        <select class="form-select select2" id="filter-by-status"></select>
                    </td>
                    <td style="min-width: 10rem"><input type="text" id="filter-by-date" class="form-control"></td>
                    <td style="min-width: 13rem">
                        <input type="text" id="filter-by-month" class="form-control">
                    </td>
                    <td style="min-width: 13rem">
                        <input type="text" id="filter-by-apartment" class="form-control">
                    </td>
                    <td style="min-width: 13rem">
                        <select class="form-select select2" id="filter-by-owner"></select>
                    </td>
                    <td style="min-width: 12rem">
                        <select class="form-select" id="filter-by-processed">
                            <option value=""></option>
                            <option value="true" th:text="#{invoice-processed}"></option>
                            <option value="false" th:text="#{invoice-not-processed}"></option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="myTBody">
                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer d-flex justify-content-between"></div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/invoices/invoices.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const dataNotFound = [[#{table-data-not-found}]];
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const buttonLabelEdit = [[#{general-button-edit}]];
    const buttonLabelDelete = [[#{general-button-delete}]];
    const dateLocale = [[#{meter-readings-date-locale}]];
    const processed = [[#{invoice-processed}]];
    const notProcessed = [[#{invoice-not-processed}]];
    const paidStatus = [[#{invoices-status-paid}]];
    const unpaidStatus = [[#{invoices-status-unpaid}]];
    const partlyPaidStatus = [[#{invoices-status-partly-paid}]];
    const deleteModalText = [[#{invoices-table-modal-delete-body}]];
    const modalDeleteButton = [[#{general-button-delete}]];
    const modalCloseButton = [[#{general-button-close}]];
    const deleteSuccessful = [[#{toastr-delete-message}]];
    const deleteErrorMessage = [[#{invoices-delete-error-message}]];
    const currency = [[#{general-currency}]];
    const chooseInvoice = [[#{invoices-choose-invoice}]];
    const copy = [[#{general-button-copy}]];
</script>
</html>