<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{master-request-add-title}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{master-request-add-title}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{menu-item-home-page}"></span>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../master-requests}" th:text="#{menu-item-master-request}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{master-request-add-title}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <form id="master-request-form">
            <div class="input-wrapper row g-4 d-flex">
                <div class="row g-4 mt-0">
                    <div class="col-md-2 mb-2">
                        <div class="input-group">
                            <span class="input-group-text"><i class="ti ti-calendar"></i></span>
                            <input class="form-control" type="text" id="visitDate" name="visitDate">
                        </div>
                    </div>
                    <span class="mb-3 d-flex align-items-end w-px-50"
                          th:text="#{cash-register-label-divider-from}"></span>
                    <div class="col-md-2 mb-2 d-flex align-items-end">
                        <div class="wrap input-group">
                            <span class="input-group-text"><i class="ti ti-clock"></i></span>
                            <input type="text" class="form-control" id="visitTime" name="visitTime">
                        </div>
                    </div>
                </div>
                <hr class="mb-0">
                <div class="row gy-4 mt-1">
                    <div class="left-inputs col-md-6">
                        <div class="col-md-12 mb-2" id="apartmentOwnerId-wrap">
                            <label for="apartmentOwnerId" class="form-label"
                                   th:text="#{master-request-label-apartment-owner}"></label>
                            <div class="paymentItemId-select-wrap">
                                <select class="form-control select2" id="apartmentOwnerId"
                                        name="apartmentOwnerId"></select>
                            </div>
                        </div>
                        <div class="col-md-12 my-3">
                            <span class="fw-bold" th:text="#{master-request-label-apartment-owner-phone} +' :'"></span>
                            <span id="apartment-owner-phone"></span>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="description" class="form-label"
                                   th:text="#{master-request-label-description}"></label>
                            <textarea class="form-control" rows="4" id="description" name="description"
                                      th:placeholder="#{master-request-label-description}"></textarea>
                        </div>
                    </div>
                    <div class="right-inputs col-md-6">
                        <div class="col-md-12 mb-2 d-inline-flex">
                            <span class="fw-bold w-px-100" th:text="#{master-request-label-house} +' :'"></span>
                            <span id="house"></span>
                        </div>
                        <div class="col-md-12 mb-2 d-inline-flex">
                            <span class="fw-bold w-px-100" th:text="#{master-request-label-section} +' :'"></span>
                            <span id="section"></span>
                        </div>
                        <div class="col-md-12 mb-2 d-inline-flex">
                            <span class="fw-bold w-px-100" th:text="#{master-request-label-floor} +' :'"></span>
                            <span id="floor"></span>
                        </div>
                        <div class="col-md-12 mb-2" id="apartmentId-wrap">
                            <label for="apartmentId" class="form-label"
                                   th:text="#{master-request-label-apartment}"></label>
                            <div class="staffId-select-wrap">
                                <select class="form-control select2" id="apartmentId" name="apartmentId"
                                        disabled></select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2" id="masterType-wrap">
                            <label for="masterType" class="form-label"
                                   th:text="#{master-request-label-master-type}"></label>
                            <div class="staffId-select-wrap">
                                <select class="form-control select2" id="masterType" name="masterType"></select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2" id="status-wrap">
                            <label for="status" class="form-label"
                                   th:text="#{master-request-label-status}"></label>
                            <div class="staffId-select-wrap">
                                <select class="form-control select2" id="status" name="status"></select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2" id="masterId-wrap">
                            <label for="masterId" class="form-label"
                                   th:text="#{master-request-label-master}"></label>
                            <div class="staffId-select-wrap">
                                <select class="form-control select2" id="masterId" name="masterId"
                                        disabled></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="comment" th:text="#{master-request-label-comment}"></label>
                    <textarea class="form-control" rows="4" id="comment" name="comment"
                              th:placeholder="#{master-request-label-comment}"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 flex-wrap">
                <button type="button" class="button-cancel btn btn-secondary mt-4"
                        th:text="#{general-button-cancel}"></button>
                <button type="button" class="button-save btn btn-primary mt-4"
                        th:text="#{general-button-save}"></button>
            </div>

        </form>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/master-requests/add-master-request.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">

    const chooseApartmentOwner = /*[[#{master-request-label-choose-apartment-owner}]]*/ 'default';
    const chooseApartment = /*[[#{master-request-label-choose-apartment}]]*/ 'default';
    const chooseMasterType = /*[[#{master-request-label-choose-master-type}]]*/ 'default';
    const chooseMaster = /*[[#{master-request-label-choose-master}]]*/ 'default';

    const roleDirector = /*[[#{staff-role-director}]]*/ 'default';
    const roleManager = /*[[#{staff-role-manager}]]*/ 'default';
    const roleAccountant = /*[[#{staff-role-accountant}]]*/ 'default';
    const roleElectrician = /*[[#{staff-role-electrician}]]*/ 'default';
    const rolePlumber = /*[[#{staff-role-plumber}]]*/ 'default';

    const labelStatusNew = /*[[#{master-request-label-status-new}]]*/ 'default';
    const labelStatusDone = /*[[#{master-request-label-status-done}]]*/ 'default';
    const labelStatusInProgress = /*[[#{master-request-label-status-in-progress}]]*/ 'default';
    const labelStatusCanceled = /*[[#{master-request-label-status-canceled}]]*/ 'default';

</script>

</html>