<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-apartment-owners}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-apartment-owners}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{menu-item-apartment-owners}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="d-flex justify-content-end my-4">
            <div class="btn-group me-4">
                <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        th:text="#{general-choose-action}"
                >
                    Оберіть дію
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/admin/owners/add}" th:text="#{owners-action-create}"></a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" th:href="@{/admin/messages/new-message}" th:text="#{owners-action-message-to-debtor}"></a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" th:href="@{/admin/owners/send-invitation}" th:text="#{owners-action-send-invitation}" id="send-invitation"></a></li>
                </ul>
        </div>
    </div>
    <div class="card-body pt-0" id="dropdownParent">
        <div class="d-flex justify-content-end" style="border-style: solid; border-width: thin; border-color: #dbdade #dbdade white #dbdade">
            <button type="button" class="btn btn-outline-secondary clear-filters m-1"
                    th:text="#{general-button-clear-table}">Clear
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-primary text-center">
                    <th>ID</th>
                    <th th:text="#{owners-table-full-name}"></th>
                    <th th:text="#{owners-table-phone-number}"></th>
                    <th>Email</th>
                    <th th:text="#{owners-table-house}"></th>
                    <th th:text="#{owners-table-apartment}"></th>
                    <th th:text="#{owners-table-added}"></th>
                    <th th:text="#{staff-label-status}"></th>
                    <th th:text="#{owners-table-debt}"></th>
                    <th th:text="#{general-table-action}"></th>
                </tr>
                <tr>
                    <td class="px-2"><input type="text" id="filter-by-id" class="form-control"></td>
                    <td class="px-2"><input type="text" id="filter-by-fullName" class="form-control"></td>
                    <td class="px-2"><input type="text" id="filter-by-phoneNumber" class="form-control"></td>
                    <td class="px-2"><input type="text" id="filter-by-email" class="form-control"></td>
                    <td class="px-2" style="min-width: 13rem">
                        <div id="filterHouseWrapper" style="position: relative">
                            <select class="form-select" id="filter-by-house">
                            </select>
                        </div>
                    </td>
                    <td class="px-2"><input type="text" id="filter-by-apartment" class="form-control"></td>
                    <td class="px-2"><input type="text" id="filter-by-creation-date" class="form-control"></td>
                    <td class="px-2" style="min-width: 9rem">
                        <div id="filterStatusWrapper" style="position: relative">
                            <select class="form-select" id="filter-by-status"></select>
                        </div>
                    </td>
                    <td class="px-2" style="min-width: 9rem">
                        <div id="filterDebtWrapper" style="position: relative">
                            <select class="form-select" id="filter-by-debt">
                                <option value=""></option>
                                <option th:text="#{owners-have-debt}" th:value="true"></option>
                                <option th:text="#{owners-not-have-debt}" th:value="false"></option>
                            </select>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/owners/owners.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const newStatus = [[#{staff-status-new}]];
    const activeStatus = [[#{staff-status-active}]];
    const disabledStatus = [[#{staff-status-disabled}]];
    const buttonLabelEdit = [[#{general-button-edit}]];
    const buttonLabelDelete = [[#{general-button-delete}]];
    const dataNotFound = [[#{table-data-not-found}]];
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const deleteModalText = [[#{owners-modal-delete-body}]];
    const modalDeleteButton = [[#{general-button-delete}]]
    const modalCloseButton = [[#{general-button-close}]]
    const deleteSuccessful = [[#{toastr-delete-message}]]
    const haveDebt = [[#{owners-have-debt}]];
    const notHaveDebt = [[#{owners-not-have-debt}]];
    const deleteErrorMessage = [[#{owners-delete-error-message}]];
    const sendActivation = [[#{owners-send-activation}]];
    const sentMessage = [[#{owners-message-sent}]];
</script>
</html>