<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-apartment-owners}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{owners-breadcrumb-invite}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{breadcrumb-home}"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/owners}" th:text="#{menu-item-apartment-owners}"></a>                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{owners-breadcrumb-invite}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <h4 th:text="#{owners-send-invitation}"></h4>
        <form enctype="multipart/form-data" id="form" class="row g-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email"
                       placeholder="email@gmail.com" maxlength="100">
            </div>

            <div class="mt-5 d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary" id="invite-button" th:text="#{owners-send-invitation}"></button>
            </div>
        </form>
    </div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/owners/send-invitation.js}"></script>
<script  layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const sentMessage = [[#{owners-message-sent}]];
</script>
</html>