<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-about-us}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{site-management-about-edit-page}"></h3>
        <h6>
            <span class="text-muted fw-light" th:text="#{breadcrumb-home} + ' / '"></span>
            <span th:text="#{site-management-about-edit-page}"></span>
        </h6>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <form enctype="multipart/form-data" id="form" class="row g-3">
            <div class="col-md-12">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{about-page-information}">Інформація</h5>
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    <label for="title" class="form-label" th:text="#{site-management-title}">Заголовок</label>
                    <input type="text" class="form-control" id="title" name="title"
                           th:placeholder="#{site-management-title}" maxlength="100">
                </div>
                <div>
                    <label for="aboutText" class="form-label mt-3" th:text="#{site-management-short-text}">Короткий
                        текст</label>
                    <div id="aboutText" name="aboutText"></div>
                </div>
            </div>
            <div class="col-md-5 px-5">
                <div class="col-auto">
                    <label class="form-label" th:text="#{about-page-director-photo}">Фото директора</label>
                    <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg"
                         style="width: 100%; height: auto;"
                         class="d-block h-auto"
                         id="director-img">
                    <input type="file" accept=".jpeg, .jpg, .png" class="form-control d-none" id="directorImage" name="directorImage">
                </div>
                <div class="col-auto">
                    <label class="form-label mt-3" th:text="#{about-page-director-recommended-size}"></label>
                    <label class="input-group-text col-form-label" for="directorImage"
                           th:text="#{owners-label-image}">Завантажити</label>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{about-page-photo-gallery}">Фотогалерея</h5>
                </div>
            </div>
            <div class="row g-3" id="gallery">
            </div>
            <div class="col-md-4">
                <label class="form-label mt-3" th:text="#{about-page-recommended-size}"></label>
                <input type="file" multiple accept=".jpeg, .jpg, .png" class="form-control d-none" id="gallery-input" name="gallery-input">
                <label class="input-group-text col-form-label" for="gallery-input"
                   th:text="#{owners-label-image}">Завантажити</label>
            </div>
            <div class="col-md-12 mt-2">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{about-page-additional-information}">Додаткова інформація</h5>
                </div>
            </div>
            <div class="col-md-12">
                <label for="additionalTitle" class="form-label" th:text="#{site-management-title}">Заголовок</label>
                <input type="text" class="form-control" id="additionalTitle" name="additionalTitle"
                       th:placeholder="#{site-management-title}" maxlength="100">
            </div>
            <div class="col-md-12">
                <label for="additionalText" class="form-label" th:text="#{site-management-short-text}">Короткий текст</label>
                <div id="additionalText" name="additionalText"></div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{about-page-additional-photo-gallery}">Додаткова фотогалерея</h5>
                </div>
            </div>
            <div class="row g-3" id="additionalGallery">
            </div>
            <div class="col-md-4">
                <label class="form-label mt-3" th:text="#{about-page-recommended-size}"></label>
                <input type="file" multiple accept=".jpeg, .jpg, .png" class="form-control d-none" id="additional-gallery-input" name="gallery-input">
                <label class="input-group-text col-form-label" for="additional-gallery-input"
                       th:text="#{owners-label-image}">Завантажити</label>
            </div>
            <div class="col-md-12 mt-2">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{about-page-documents}">Документи</h5>
                </div>
            </div>
            <div class="row g-4" id="documents">
            </div>
            <div class="col-md-3">
                <input type="file" multiple accept=".doc, .pptx, .ppsx, .docx, .txt, .pdf" class="form-control d-none" id="document-input" name="document-input">
                <label class="input-group-text col-form-label mt-3" for="document-input"
                       th:text="#{about-page-add-document}">Додати документи</label>
            </div>
            <div class="col-md-12 mt-2">
                <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                    <h5 class="mb-0" th:text="#{seo-settings}">Налаштування SEO</h5>
                </div>
            </div>
            <div class="col-md-12">
                <label for="seoTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="seoTitle" name="seoTitle"
                       maxlength="100">
            </div>
            <div class="col-md-12">
                <label for="seoDescription" class="form-label">Description</label>
                <textarea type="text" class="form-control" rows="2" id="seoDescription" name="seoDescription"
                          maxlength="300"></textarea>
            </div>
            <div class="col-md-12">
                <label for="seoKeywords" class="form-label">Keywords</label>
                <textarea type="text" class="form-control" rows="2" id="seoKeywords" name="seoKeywords"
                          maxlength="200"></textarea>
            </div>
            <div class="mt-5 d-flex justify-content-end gap-3">
                <button type="button" class="btn btn-secondary" id="cancel-button" th:text="#{general-button-cancel}">
                    Відмінити
                </button>
                <button type="button" class="btn btn-primary" id="save-button" th:text="#{general-button-save}">
                    Зберегти
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/site-management/about-page.js}"></script>
<script  layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const successMessage = [[#{role-success-message}]];
    const fileExtension = [[#{validation-file-extension-not-valid}]];
</script>
</html>