<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-services-page}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{site-management-services-edit-page}"></h3>
        <h6>
            <span class="text-muted fw-light" th:text="#{breadcrumb-home} + ' / '"></span>
            <span th:text="#{site-management-services-edit-page}"></span>
        </h6>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="row g-2" id="services">
        </div>

        <div class="col-md-12 mt-2">
            <div class="py-3" style="border-bottom-style: solid; border-bottom-color: #dbdade;">
                <h5 class="mb-0" th:text="#{seo-settings}">Налаштування SEO</h5>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <label for="seoTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="seoTitle" name="seoTitle"
                   maxlength="100">
        </div>
        <div class="col-md-12 mt-3">
            <label for="seoDescription" class="form-label">Description</label>
            <textarea type="text" class="form-control" rows="2" id="seoDescription" name="seoDescription"
                      maxlength="300"></textarea>
        </div>
        <div class="col-md-12 mt-3">
            <label for="seoKeywords" class="form-label">Keywords</label>
            <textarea type="text" class="form-control" rows="2" id="seoKeywords" name="seoKeywords"
                      maxlength="200"></textarea>
        </div>
        <div class="mt-5 d-flex justify-content-end gap-3">
            <button type="button" class="btn btn-secondary" id="cancel-button" th:text="#{general-button-cancel}">Відмінити</button>
            <button type="button" class="btn btn-primary" id="add-button" th:text="#{services-page-add}">Додати послугу</button>
            <button type="button" class="btn btn-primary" id="save-button" th:text="#{general-button-save}">Зберегти</button>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/site-management/services-page.js}"></script>
<script  layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const serviceNumber = [[#{services-page-service}]];
    const serviceName = [[#{services-page-name}]];
    const serviceDescription = [[#{services-page-description}]];
    const deleteModalText = [[#{services-page-modal-delete-body}]];
    const modalDeleteButton = [[#{general-button-delete}]]
    const modalCloseButton = [[#{general-button-close}]]
    const deleteSuccessful = [[#{toastr-delete-message}]]
    const successMessage = [[#{role-success-message}]];
    const imageLabel = [[#{owners-label-image}]];
    const recommendedSize = [[#{services-page-image-size}]];
    const fileExtension = [[#{validation-file-extension-not-valid}]];
</script>
</html>