<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{menu-item-invoices}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-invoices}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{menu-item-home-page}"></span>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{menu-item-invoices}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body" id="dropdownParent">
        <div class="d-flex justify-content-end" style="border-style: solid; border-width: thin; border-color: #dbdade #dbdade white #dbdade">
            <button type="button" class="btn btn-outline-secondary clear-filters m-1"
                    th:text="#{general-button-clear-table}">Clear
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-primary text-center">
                    <th>№</th>
                    <th th:text="#{invoices-date}"></th>
                    <th th:text="#{invoices-status}"></th>
                    <th th:text="#{invoices-paid}"></th>
                    <th th:text="#{invoices-sum}"></th>
                </tr>
                <tr>
                    <td class="px-2"><input type="text" id="filter-by-number" class="form-control"></td>
                    <td class="px-2"><input type="text" id="filter-by-date" class="form-control"></td>
                    <td class="px-2" style="min-width: 13rem">
                        <select class="form-select" id="filter-by-status">
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>
</div>


</body>
<script layout:fragment="script" th:src="@{/pagejs/invoices/invoices.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const paidStatus = [[#{invoices-status-paid}]];
    const unpaidStatus = [[#{invoices-status-unpaid}]];
    const partlyPaidStatus = [[#{invoices-status-partly-paid}]];
    const dataNotFound = [[#{table-data-not-found}]];
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
</script>
</html>