<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{menu-item-meters}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-meters}"></h3>
        <h6>
            <span class="text-muted fw-light" th:text="#{breadcrumb-home} + ' / '"></span>
            <span th:text="#{menu-item-meters}"></span>
        </h6>
    </div>
</div>
<div layout:fragment="content">
    <div class="d-flex justify-content-end my-4 px-3">
        <a th:href="@{meter-readings/add}" class="btn btn-primary me-2">
            <span class="tf-icons ti-xs ti ti-plus me-1"></span>
            <span th:text="#{meter-readings-add}"></span>
        </a>
    </div>
    <div class="card-body pt-0" id="dropdownParent">
        <div class="d-flex justify-content-end"
             style="border-style: solid; border-width: thin; border-color: #dbdade #dbdade white #dbdade">
            <button type="button" class="btn btn-outline-secondary clear-filters m-1"
                    th:text="#{general-button-clear-table}">Clear
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-primary text-center">
                    <th th:text="#{apartment-label-house}"></th>
                    <th th:text="#{apartment-label-section}"></th>
                    <th class="text-nowrap" th:text="#{meter-readings-apartment-number}"></th>
                    <th th:text="#{service-label}"></th>
                    <th th:text="#{meter-readings-current-readings}"></th>
                    <th th:text="#{tariff-item-unit-of-measurement-label}"></th>
                    <th th:text="#{general-table-action}"></th>
                </tr>
                <tr>
                    <td class="px-2" style="min-width: 13rem">
                        <select class="form-select" id="filter-by-house"></select>
                    </td>
                    <td class="px-2" style="min-width: 9rem">
                        <select class="form-select" id="filter-by-section" disabled></select>
                    </td>
                    <td class="px-2"><input type="text" id="filter-by-apartment"
                                            class="form-control" disabled></td>
                    <td class="px-2" style="min-width: 13rem">
                        <select class="form-select" id="filter-by-service">
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/meter-readings/meter-readings.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const dataNotFound = [[#{table-data-not-found}]];
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const history = [[#{meter-readings-history}]]
    const newReading = [[#{meter-readings-new}]]
</script>
</html>