<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{menu-item-master-request}"></title>
    <style>
        .select2-width {
            width: fit-content !important;
            max-width: 150% !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-master-request}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <a th:href="@{../../master-requests}" th:text="#{menu-item-master-request}"></a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="mb-4 d-flex justify-content-end align-items-start">
            <div class="btn-group" id="hover-dropdown-demo">
                <a th:href="@{master-requests/add-request}" class="btn btn-primary waves-effect waves-light"
                   th:text="#{master-request-button-add-new}"></a>
            </div>
        </div>
        <div class="clear-filter-wrap">
            <div class="d-flex justify-content-end border-top border-start border-end">
                <button type="button" class="btn btn-outline-secondary clear-filters mx-2 my-1"
                        th:text="#{general-button-clear-table}">Clear
                </button>
            </div>
        </div>
        <div class="table-responsive" id="dropdownParent">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-primary text-center">
                    <th th:text="#{master-request-label-number}"></th>
                    <th th:text="#{master-request-label-visit-date}"></th>
                    <th th:text="#{master-request-label-master-type}"></th>
                    <th th:text="#{master-request-label-description}"></th>
                    <th th:text="#{master-request-label-apartment}"></th>
                    <th th:text="#{master-request-label-apartment-owner}"></th>
                    <th th:text="#{master-request-label-apartment-owner-phone}"></th>
                    <th th:text="#{master-request-label-master}"></th>
                    <th th:text="#{master-request-label-status}"></th>
                    <th th:text="#{general-table-action}"></th>
                </tr>
                <tr>
                    <td style="min-width: 7rem">
                        <input type="text" class="form-control" id="filter-by-number">
                    </td>
                    <td style="min-width: 11rem">
                        <input type="text" class="form-control" id="filter-by-date">
                    </td>
                    <td style="min-width: 9rem">
                        <div id="filter-by-master-type-wrap" style="position: relative">
                            <select class="form-select select2" id="filter-by-master-type">
                                <option value=""></option>
                                <option value="ELECTRICIAN" th:text="#{staff-role-electrician}"></option>
                                <option value="PLUMBER" th:text="#{staff-role-plumber}"></option>
                            </select>
                        </div>
                    </td>
                    <td style="min-width: 14rem">
                        <input type="text" class="form-control" id="filter-by-description">
                    </td>
                    <td style="min-width: 10rem">
                        <input type="text" class="form-control" id="filter-by-apartment">
                    </td>
                    <td style="min-width: 11rem">
                        <div id="filter-by-apartment-owner-wrap" style="position: relative">
                            <select class="form-select select2" id="filter-by-apartment-owner"></select>
                        </div>
                    </td>
                    <td style="min-width: 9rem">
                        <input type="text" class="form-control" id="filter-by-apartment-owner-phone">
                    </td>
                    <td style="min-width: 10rem">
                        <div id="filter-by-master-wrap" style="position: relative">
                            <select class="form-select select2" id="filter-by-master"></select>
                        </div>
                    </td>
                    <td style="min-width: 7rem">
                        <div id="filter-by-status-wrap" style="position: relative">
                            <select class="form-select select2" id="filter-by-status">
                                <option value=""></option>
                                <option value="NEW" th:text="#{master-request-label-status-new}"></option>
                                <option value="IN_PROGRESS"
                                        th:text="#{master-request-label-status-in-progress}"></option>
                                <option value="DONE" th:text="#{master-request-label-status-done}"></option>
                                <option value="CANCELED" th:text="#{master-request-label-status-canceled}"></option>
                            </select>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>
    <!-- Modal -->
    <div class="modal fade" id="modalToDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h4 th:text="#{cash-register-modal-delete-body}"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary close-modal" data-bs-dismiss="modal"
                            th:text="#{general-button-close}"></button>
                    <button type="button" class="btn btn-danger submit-delete"
                            th:text="#{general-button-delete}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" th:src="@{/pagejs/master-requests/master-requests.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">

    const buttonLabelEdit = /*[[#{general-button-edit}]]*/ 'default';
    const buttonLabelDelete = /*[[#{general-button-delete}]]*/ 'default';

    const successMessageOnDelete = /*[[#{master-request-message-delete-success}]]*/ 'default';
    const errorMessageOnDelete = /*[[#{master-request-message-delete-error}]]*/ 'default';

    const roleElectrician = /*[[#{staff-role-electrician}]]*/ 'default';
    const rolePlumber = /*[[#{staff-role-plumber}]]*/ 'default';

    const labelStatusNew = /*[[#{master-request-label-status-new}]]*/ 'default';
    const labelStatusDone = /*[[#{master-request-label-status-done}]]*/ 'default';
    const labelStatusInProgress = /*[[#{master-request-label-status-in-progress}]]*/ 'default';
    const labelStatusCanceled = /*[[#{master-request-label-status-canceled}]]*/ 'default';

    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const emptyTableLabel = /*[[#{general-label-empty-table}]]*/ 'default';

</script>
</html>