<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{master-request-view-title}"></title>
    <style>
        .light-style div.account-select-wrap .select2-container--default .select2-selection--single {
            border-radius: 0 0 .375rem .375rem !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{master-request-view-title}" data-name="request-title"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../../master-requests}" th:text="#{menu-item-master-request}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{master-request-view-title}" data-name="request-title"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body pt-0">
        <div class="row g-4 mt-0">
            <div class="col-md-2 mb-2">
                <div class="input-group">
                    <span class="input-group-text"><i class="ti ti-calendar"></i></span>
                    <input class="form-control" type="text" id="visitDate" name="visitDate" readonly>
                </div>
            </div>
            <span class="mb-3 d-flex align-items-end w-px-50"
                  th:text="#{cash-register-label-divider-from}"></span>
            <div class="col-md-2 mb-2 d-flex align-items-end">
                <div class="wrap input-group">
                    <span class="input-group-text"><i class="ti ti-clock"></i></span>
                    <input type="text" class="form-control" id="visitTime" name="visitTime" readonly>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3 d-flex justify-content-end gap-3">
            <a th:href="@{../}" id="edit-link" class="btn btn-primary"
               th:text="#{master-request-button-edit}"></a>
        </div>
        <div class="row g-3">
            <div class="table-left">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td class="fw-bold w-25" th:text="#{master-request-label-status}"></td>
                            <td id="status"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-apartment-owner}"></td>
                            <td id="apartmentOwner"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-apartment-owner-phone}"></td>
                            <td id="apartmentOwnerPhone"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-apartment}"></td>
                            <td id="apartment"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-master-type}"></td>
                            <td id="masterType"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-master}"></td>
                            <td id="master"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-description}"></td>
                            <td id="description"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-comment}"></td>
                            <td id="comment"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{master-request-label-creation-date}"></td>
                            <td id="creationDate"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/master-requests/view-master-request.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">

    const roleElectrician = /*[[#{staff-role-electrician}]]*/ 'default';
    const rolePlumber = /*[[#{staff-role-plumber}]]*/ 'default';

    const labelStatusNew = /*[[#{master-request-label-status-new}]]*/ 'default';
    const labelStatusDone = /*[[#{master-request-label-status-done}]]*/ 'default';
    const labelStatusInProgress = /*[[#{master-request-label-status-in-progress}]]*/ 'default';
    const labelStatusCanceled = /*[[#{master-request-label-status-canceled}]]*/ 'default';

</script>

</html>