<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{personal-accounts-label-edit}"></title>
    <style>
        .light-style div.account-select-wrap .select2-container--default .select2-selection--single {
            border-radius: 0 0 .375rem .375rem !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{personal-accounts-label-edit}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../}" th:text="#{menu-item-personal-account}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{personal-accounts-label-edit}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <form id="apartmentForm">
            <div class="input-wrapper row g-3 d-flex">

                <div class="left-inputs col-md-6">
                    <div class="col-md-12 mb-2">
                        <label for="accountNumber" class="form-label"
                               th:text="#{personal-accounts-label-account-number}"></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon11"><i class="ti ti-number"></i></span>
                            <input class="form-control" type="text" id="accountNumber" name="accountNumber"
                                   placeholder="00000-00000">
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="status" class="form-label"
                               th:text="#{personal-accounts-label-status}"></label>
                        <div class="house-select-wrap">
                            <select class="form-control select2" id="status" name="status"></select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="houseId" class="form-label"
                               th:text="#{personal-accounts-label-house}"></label>
                        <div class="section-select-wrap">
                            <select class="form-control select2" id="houseId" name="houseId"></select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="sectionId" class="form-label"
                               th:text="#{personal-accounts-label-section}"></label>
                        <div class="floor-select-wrap">
                            <select class="form-control select2" id="sectionId" name="sectionId" disabled></select>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="apartmentId" class="form-label"
                               th:text="#{personal-accounts-label-apartment}"></label>
                        <div class="tariff-select-wrap">
                            <select class="form-control select2" id="apartmentId" name="apartmentId" disabled></select>
                        </div>
                    </div>
                    <div class="col-md-6 apartment-info mt-4">
                        <div class="col-md-12 mb-2">
                            <span class="fw-bold"
                                  th:text="#{personal-accounts-label-apartment-owner}"></span>
                            <span>:</span>
                            <span id="apartment-owner" th:text="#{personal-accounts-label-not-set}"></span>
                        </div>
                        <div class="col-md-12 mb-2">
                            <span class="fw-bold"
                                  th:text="#{personal-accounts-label-apartment-owner-phone}"></span>
                            <span>:</span>
                            <span id="owner-phone" th:text="#{personal-accounts-label-not-set}"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="d-flex justify-content-end gap-3 flex-wrap">
                <button type="button" class="button-cancel btn btn-secondary mt-4"
                        th:text="#{general-button-cancel}"></button>
                <button type="button" class="button-save btn btn-primary mt-4"
                        th:text="#{general-button-save}"></button>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/personalAccounts/edit-personal-account.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const successSaveMessage = /*[[#{apartment-message-success-save}]]*/ 'default';

    const accountStatusActive = /*[[#{personal-accounts-label-status-active}]]*/ 'default';
    const accountStatusNonActive = /*[[#{personal-accounts-label-status-nonactive}]]*/ 'default';
    const chooseHouse = /*[[#{apartment-choose-house}]]*/ 'default';

    const chooseSection = /*[[#{apartment-choose-section}]]*/ 'default';
    const chooseAccount = /*[[#{apartment-choose-account}]]*/ 'default';
    const chooseApartment = /*[[#{personal-accounts-choose-apartment}]]*/ 'default';
    const labelStatus = /*[[#{personal-accounts-label-status}]]*/ 'default';
    const labelNotSet = /*[[#{personal-accounts-label-not-set}]]*/ 'default';

</script>

</html>