<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{personal-accounts-label-account}"></title>
    <style>
        .light-style div.account-select-wrap .select2-container--default .select2-selection--single {
            border-radius: 0 0 .375rem .375rem !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{personal-accounts-label-account}" id="curr-account-title"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{menu-item-home-page}"></span>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../../personal-accounts}" th:text="#{menu-item-personal-account}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{personal-accounts-label-account}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="mb-4 d-flex justify-content-end gap-3">
            <button class="btn btn-outline-secondary" type="button"
                    th:text="#{personal-account-accept-payment}" id="accept-payment"></button>
            <button class="btn btn-outline-secondary" type="button" id="create-invoice"
                    th:text="#{personal-account-create-invoice}"></button>
            <a th:href="@{../edit-account/}" id="edit-link" class="btn btn-primary"
               th:text="#{personal-account-edit-button}"></a>
        </div>
        <div class="row g-3">
            <div class="table-left">
                <div class="col-md-12">
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon11"><i class="ti ti-number"></i></span>
                            <input class="form-control" type="text" id="accountNumber" name="accountNumber"
                                   placeholder="00000-00000" readonly>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <td class="fw-bold w-25" th:text="#{personal-accounts-label-status}"></td>
                            <td id="status"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{personal-accounts-label-house}"></td>
                            <td id="house"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{personal-accounts-label-section}"></td>
                            <td id="section"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{personal-accounts-label-apartment}"></td>
                            <td id="apartment"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{personal-accounts-label-apartment-owner}"></td>
                            <td id="owner"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{personal-accounts-label-balance}"></td>
                            <td id="balance"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/personalAccounts/view-personal-account.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const labelLinkViewMeters = /*[[#{apartment-link-view-meters}]]*/ 'default';
    const labelLinkViewIncomes = /*[[#{apartment-link-view-incomes}]]*/ 'default';
    const labelLinkViewInvoices = /*[[#{apartment-link-view-invoices}]]*/ 'default';

    const accountStatusActive = /*[[#{personal-accounts-label-status-active}]]*/ 'default';
    const accountStatusNonActive = /*[[#{personal-accounts-label-status-nonactive}]]*/ 'default';
    const labelNotSet = /*[[#{personal-accounts-label-not-set}]]*/ 'default';

</script>

</html>