<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{cash-register-label-new-expense-sheet}"></title>
    <style>
        .light-style div.account-select-wrap .select2-container--default .select2-selection--single {
            border-radius: 0 0 .375rem .375rem !important;
        }

        .hidden-on-hover:hover > input[name="sheetNumber"] {
            display: none !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{cash-register-label-new-expense-sheet}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{menu-item-home-page}"></span>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../cash-register}" th:text="#{menu-item-cash-register}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{cash-register-label-new-expense-sheet}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <form id="expense-sheet-form">
            <div class="input-wrapper row g-3 d-flex">
                <div class="row g-4 mt-0">
                    <div class="col-md-4 mb-2">
                        <label for="sheetNumber" class="form-label"
                               th:text="#{cash-register-label-account-number}"></label>
                        <div class="input-group hidden-on-hover">
                            <span class="input-group-text" id="basic-addon11"><i class="ti ti-number"></i></span>
                            <input class="form-control" type="text" id="sheetNumber" name="sheetNumber"
                                   placeholder="0000000000" disabled>
                        </div>
                    </div>
                    <span class="mb-3 d-flex align-items-end w-px-50"
                          th:text="#{cash-register-label-divider-from}"></span>
                    <div class="col-md-4 mb-2 d-flex align-items-end">
                        <div class="wrap input-group">
                            <span class="input-group-text"><i class="ti ti-calendar"></i></span>
                            <input type="text" class="form-control" id="creationDate" name="creationDate">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row g-4 mt-1">
                    <div class="left-inputs col-md-6 mt-4">
                        <div class="col-md-12 mb-2">
                            <label for="paymentItemId" class="form-label"
                                   th:text="#{cash-register-label-payment-item-name}"></label>
                            <div class="paymentItemId-select-wrap">
                                <select class="form-control select2" id="paymentItemId" name="paymentItemId"></select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="staffId" class="form-label"
                                   th:text="#{cash-register-label-amount}"></label>
                            <input type="text" class="form-control" id="amount" name="amount" placeholder="0.00">
                        </div>
                    </div>
                    <div class="right-inputs col-md-6 mt-0">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="isProcessed" name="isProcessed">
                            <label class="form-check-label" for="isProcessed"
                                   th:text="#{cash-register-label-sheet-status-confirmed}"></label>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label for="staffId" class="form-label"
                                   th:text="#{cash-register-label-staff}"></label>
                            <div class="staffId-select-wrap">
                                <select class="form-control select2" id="staffId" name="staffId"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-3 flex-wrap">
                <button type="button" class="button-cancel btn btn-secondary mt-4"
                        th:text="#{general-button-cancel}"></button>
                <button type="button" class="button-save btn btn-primary mt-4"
                        th:text="#{general-button-save}"></button>
            </div>
            <div class="col-md-12">
                <label class="form-label" for="comment" th:text="#{cash-register-label-comment}"></label>
                <textarea class="form-control" cols="3" id="comment" name="comment"
                          th:placeholder="#{cash-register-label-comment}"></textarea>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/cash-register/add-expense-sheet.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">

    const choosePaymentItem = /*[[#{cash-register-choose-payment-item}]]*/ 'default';
    const chooseStaff = /*[[#{cash-register-choose-staff}]]*/ 'default';


</script>

</html>