<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{personal-accounts-label-account}"></title>
    <style>
        .light-style div.account-select-wrap .select2-container--default .select2-selection--single {
            border-radius: 0 0 .375rem .375rem !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{cash-register-view-cash-sheet}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="text-muted fw-light" th:text="#{menu-item-home-page}"></span>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{../../cash-register}" th:text="#{menu-item-cash-register}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{cash-register-view-cash-sheet}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="row g-4 mt-0">
            <div class="col-md-3 mb-2 mt-0">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon11"><i class="ti ti-number"></i></span>
                    <input class="form-control" type="text" id="sheetNumber" name="sheetNumber"
                           placeholder="0000000000" readonly>
                </div>
            </div>
            <span class="mb-3 mt-0 d-flex align-items-end w-px-50"
                  th:text="#{cash-register-label-divider-from}"></span>
            <div class="col-md-3 mb-2 mt-0 d-flex align-items-end">
                <div class="wrap input-group">
                    <span class="input-group-text"><i class="ti ti-calendar"></i></span>
                    <input type="text" class="form-control" id="creationDate" name="creationDate" readonly>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3 d-flex justify-content-end gap-3">
            <button class="btn btn-outline-secondary" type="button"
                    th:text="#{general-button-copy}" id="copy-sheet"></button>
            <button class="btn btn-outline-secondary" type="button"
                    th:text="#{general-button-delete}" data-bs-toggle="modal"
                    data-bs-target="#modalToDelete"></button>
            <a th:href="@{../}" id="edit-link" class="btn btn-primary"
               th:text="#{cash-register-button-edit}"></a>
            <button class="btn btn-outline-secondary" type="button"
                    th:text="#{general-button-export-to-excel}" id="export-to-excel"></button>
        </div>
        <div class="row g-3">
            <div class="table-left">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td class="fw-bold w-25" th:text="#{cash-register-label-apartment-owner}"></td>
                            <td id="owner"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-personal-account}"></td>
                            <td id="personalAccount"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-payment-item-name}"></td>
                            <td id="paymentItem"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-invoice}"></td>
                            <td id="invoice"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-staff}"></td>
                            <td id="staff"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-amount}"></td>
                            <td id="amount"></td>
                        </tr>
                        <tr>
                            <td class="fw-bold" th:text="#{cash-register-label-comment}"></td>
                            <td id="comment"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>

    <div class="modal fade" id="modalToDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h4 th:text="#{cash-register-modal-delete-body}"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary close-modal" data-bs-dismiss="modal"
                            th:text="#{general-button-close}"></button>
                    <button type="button" class="btn btn-danger submit-delete"
                            th:text="#{general-button-delete}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/cash-register/view-cash-sheet.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const successMessageOnDelete = /*[[#{cash-register-message-delete-success}]]*/ 'default'
    const errorMessageOnDelete = /*[[#{cash-register-message-delete-error}]]*/ 'default'

</script>

</html>