<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{menu-item-statistic}"></title>
    <style>
        .count-statistic .card:hover {
            cursor: pointer;
            transform: translateY(-10px);
            transition: 0.4s;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background-color: #e2e6f0;
        }

        .count-statistic .card:not(:hover) {
            transition: 0.4s;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{menu-item-statistic}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-body">
        <div class="row g-5">
            <span class="h4" th:text="#{statistic-label-in-our-services}"></span>
        </div>
        <div class="row count-statistic">
            <!--     Count Houses       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/houses">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-primary">
                                        <i class="ti ti-home ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-houses"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-houses}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <!--     Count Active Apartment Owners       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/owners">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-primary">
                                        <i class="ti ti-users-group ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-apartment-owners"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-active-apartment-owners}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <!--     Count Master Request In progress       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/master-requests">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-facebook">
                                        <i class="ti ti-progress-bolt ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-master-request-in-progress"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-master-request-in-progress}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <!--     Count Apartments       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/apartments">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-success">
                                        <i class="ti ti-door ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-apartments"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-apartments}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <!--     Count Personal Accounts       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/personal-accounts">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-primary">
                                        <i class="ti ti-cash ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-personal-accounts"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-personal-accounts}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <!--     Count New Master Requests       -->
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card card-border-shadow-primary">
                    <a href="../admin/master-requests">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-info">
                                        <i class="ti ti-home-plus ti-md"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="count-new-master-requests"></h4>
                            </div>
                            <p class="mb-1" th:text="#{statistic-label-count-new-master-requests}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12 col-md-8" id="arrears-paid-arrears-chart">
                <div class="card" style="height: 100%">
                    <div class="card-header">
                        <span class="h3 my-3" th:text="#{statistic-label-paid-arrears-statistic}"></span>
                    </div>
                    <div class="card-body">
                        <canvas id="arrears-paid-arrears-invoice-statistic"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-4" id="account-statistic">
                <!--     Amount arrears balance       -->
                <div class="col-md-12 mb-4">
                    <div class="card card-border-shadow-primary bg-label-danger">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-dark">
                                        <i class="ti ti-currency-hryvnia"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="account-balance-arrears"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-accounts-balance-arrears}"></p>
                        </div>
                    </div>
                </div>
                <!--     Amount current balance       -->
                <div class="col-md-12 mb-4">
                    <div class="card card-border-shadow-primary bg-label-facebook">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-dark">
                                        <i class="ti ti-currency-hryvnia"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="account-current-balance"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-accounts-balance}"></p>
                        </div>
                    </div>
                </div>
                <!--     Amount cash register balance       -->
                <div class="col-md-12">
                    <div class="card card-border-shadow-primary">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-2 pb-1">
                                <div class="avatar me-2">
                                    <span class="avatar-initial rounded bg-label-dark">
                                        <i class="ti ti-currency-hryvnia"></i>
                                    </span>
                                </div>
                                <h4 class="ms-1 mb-0" id="account-cash-register-balance"></h4>
                            </div>
                            <p class="mb-1" th:text="#{personal-accounts-card-current-cash-register}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 mt-3" id="income-expense-statistic">
                <div class="card" style="height: 25rem">
                    <div class="card-header">
                        <span class="h3 my-3" th:text="#{statistic-label-income-expense-statistic}"></span>
                    </div>
                    <div class="card-body">
                        <canvas id="income-expense-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script layout:fragment="additionalScript" th:src="@{/assets/vendor/libs/chartjs/chartjs.js}"></script>
<script layout:fragment="script" th:src="@{/pagejs/statistic/statistic.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">

    const currency = /*[[#{general-currency}]]*/ '';
    const labelIncome = /*[[#{payment-item-label-type-income}]]*/ 'default';
    const labelExpenses = /*[[#{payment-item-label-type-expense}]]*/ 'default';
    const labelArrears = /*[[#{statistic-label-arrears}]]*/ 'default';
    const labelPaidArrears = /*[[#{statistic-label-paid-arrears}]]*/ 'default';

</script>
</html>