<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{payment-items-title}"></title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="d-flex justify-content-between px-3 align-items-end">
        <h3 th:text="#{payment-items-title}"></h3>
        <nav aria-level="breadcrumb" style="--bs-breadcrumb-divider: '/'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin/statistic}" th:text="#{menu-item-home-page}"></a>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{menu-item-system-settings}"></span>
                </li>
                <li class="breadcrumb-item active">
                    <span th:text="#{menu-item-articles-payments}"></span>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div layout:fragment="content">
    <div class="card-header d-flex justify-content-end">
        <a th:href="@{payment-items/add-item}" class="btn btn-primary me-2">
            <span class="tf-icons ti-xs ti ti-plus me-1"></span>
            <span th:text="#{payment-item-create-button}"></span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-primary text-center">
                <tr>
                    <th th:text="#{payment-item-name}">Назва</th>
                    <th th:text="#{payment-item-type}">Дохід/Витрати</th>
                    <th th:text="#{general-table-action}">Дії</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between"></div>

    <!-- Modal -->
    <div class="modal fade" id="modalToDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h4 th:text="#{payment-item-delete-model-body}"></h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary close-modal" data-bs-dismiss="modal"
                            th:text="#{general-button-close}"></button>
                    <button type="button" class="btn btn-danger submit-delete"
                            th:text="#{general-button-delete}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script layout:fragment="script" th:src="@{/pagejs/system/paymentItem/payment-items.js}"></script>
<script layout:fragment="initThymeleafVarianle" th:inline="javascript">
    const tableShow = [[#{table-show}]];
    const tableShowing = [[#{table-showing}]];
    const tableEntries = [[#{table-entries}]];
    const tableOf = [[#{table-of}]];
    const dataNotFound = [[#{table-data-not-found}]];

    const successMessageOnDelete = [[#{payment-item-message-success-delete}]];
    const errorMessageOnDelete= [[#{payment-item-message-error-delete}]];
</script>
</html>